@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

body {
  width: 100vw;
  height: 100vh;
  background: rgb(9, 53, 121);
  background: linear-gradient(135deg, rgba(0, 21, 52, 1) 0%, rgba(97, 97, 97, 1) 100%);
}

.form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 375px;
  max-height: 80%;
  height: 600px;
  width: 90%;
  color: white;
}

.form-container form {
  display: grid;
  font-size: 1.3rem;
  font-family: "Open Sans", sans-serif;
}

label {
  margin-top: 20px;
}

.spiciness_scale-container {
  display: flex;
}

input,
select {
  padding: 6px 10px;
  font-size: 1.3rem;
  font-family: "Open sans", sans-serif;
  outline: none;
  border: 1px solid rgb(255, 255, 255, 0.2);
  background-color: transparent;
  color: white;
}

select {
  outline: none;
  border: 1px solid rgb(255, 255, 255, 0.2);
  background-color: transparent;
  color: white;
}

option {
  outline: none;
  border: 1px solid rgb(255, 255, 255, 0.2);
  color: #444;
}

.form-container button {
  width: 150px;
  margin-top: 30px;
  padding: 5px 0;
  justify-self: center;
  background-color: transparent;
  border: 2px solid rgb(255, 255, 255, 0.2);
  color: white;
  font-size: 1.3rem;
  cursor: pointer;
  transition: 0.01s;
}

.form-container button:hover {
  opacity: 0.8;
  color: #aaaaaa;
}

.form-container button:active {
  transform: scale(0.97);
}

.success_msg-outer_container,
.failure_msg-outer_container {
  display: none;
  font-family: "Open sans", sans-serif;
  font-size: 1.1rem;
}

.active {
  display: block;
}

/* hide default input:number arrows */
/* Chrome, Opera, Safari, Edge */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
